{% extends "layout.html" %}

{% block content %}
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Room number</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        
        <tbody id="room_tbody">
        {% for data in roomData %}
        <tr>
            <td>{{ data.key.id }}</td>
            <td>{{ data.name }}</td>
            <td align="right">
                <a class="btn btn-dark" href="{{ url_for('newBooking', roomNumber=data.key.id) }}">Book now</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}