<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">Room Scheduler</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="{% if index %}active{% endif %}"><a href="{{ url_for('index') }}">Home</a></li>
            {% if session['email'] %}
                <li class="{% if room %}active{% endif %}"><a href="{{ url_for('room') }}">Add room</a></li>
                <li class="{% if bookings %}active{% endif %}"><a href="{{ url_for('bookings') }}">Bookings</a></li>
            {% endif %}
        </ul>

        {% if not session['email'] %}
        <ul class="nav navbar-nav navbar-right">
            <li class="{% if login %}active{% endif %}"><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session['email'] }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a id="sign-out" href="{{ url_for('logout') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>

                            Sign out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
